.App,
.Header {
  background-color: white;
}

.Header {
  background-color: blanchedalmond;
}

#header-image {
  padding: 0;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#header-image-div {
  height: 250px;
  overflow: hidden;
}

.submit-form {
  max-width: 95%;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.card-img-top {
  height: 200px;
  max-width: 100%;
  object-fit: cover;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4;
  padding: 0.5rem 0;
}

main {
  min-height: 80vh;
}
