.App,
.Header {
  background-color: whitesmoke;
}

.Header {
  background-color: whitesmoke;
}

#header-image {
  padding: 0;
  height: 250px;
  width: 100%;
  object-fit: cover;
}

#header-image-div {
  height: 250px;
  overflow: hidden;
}

.submit-form {
  max-width: 95%;
}
